<!DOCTYPE html>
<html>
<head>
    <title> g90 Directory</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i>g90 Directory</div>
            <a href="/" class="item">Home</a>
            <a href="/students/new" class="item">Add Student</a>
        </div>
    </div>


