<% include ./partials/header %>
<br>
<br>
<br>

<form action="/students" method="POST">
   <input type="text" name="student[first_name]" placeholder="First Name">
   <input type="text" name="student[last_name]" placeholder="Last Name">
   <input type="text" name="student[photo]" placeholder="Home Town Latitude">
   <input type="text" name="student[prev_occupation]" placeholder="Last Job">
   <input type="text" name="student[hometown_lat]" placeholder="Home Town Latitude">
   <input type="text" name="student[hometown_long]" placeholder="Home Town Longitude">

   <input type="submit">
</form>

<% include ./partials/footer %>
